<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CONTENT</title>
	</head>
	<body>
		<div>
  		<h1>CONTENT</h1>
  		<p>CONTENT</p>
  		</div>

  		<div id="pdf">
  			<object width="400" height="500" type="application/pdf" data="/my_pdf.pdf?#zoom=85&scrollbar=0&toolbar=0&navpanes=0" id="pdf_content">
  			<p>Insert your error message here, if the PDF cannot be displayed.</p>
  			</object>
  		</div>

		
		<form id='Page1_Form' method='post' action='Page2'>
			<input type='submit' value='Communify It!' />
		</form>
	</body>
</html>
