<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Page1</title>
	</head>
	<body>
  		<center><h1>Instant Video Viewing Network</h1>
        <p> Two-mode representation of viewers (yellow nodes) and videos (blue nodes) connected by gray edges </p>
        <img src="http://i.imgur.com/UbUQ2IW.png" width="812.5" height="609.375">
		<br>
		<form id='Page1_Form' method='post' action='Page2'>
			<input type='submit' value='Communify it!' />
		</form>
        
		</center>
	</body>
</html>
